{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">


    <div class="dashboard-segment profiles-selection-container">
        {% for profile in profiles %}
        <form method="post" class="profile-container">
            {% csrf_token %}
            <input type="hidden" name="profile_id" value="{{ profile.id }}">
            <button type="submit" name="activate_profile" class="profile-button"
                    {% if profile.active %}
                    style="background-color: var(--secondary); color: black;"
                    {% endif %}
                    >
                {{ profile.job_title }}
            </button>
        </form>
        {% endfor %}
    </div>

        <div class="dashboard-segment dashboard-options-container">
         options

        </div>

        <div class="dashboard-segment dashboard-content-container">
            {% for profile in profiles %}
            {% if profile.active %}
    
            {{ profile.job_title }}
    
            {% endif %}
            {% endfor%}

        </div>




       

    

    <!-- 
    
    <ul>
        {% for profile in profiles %}
        <li>
            <strong>{{ profile.job_title }}</strong> in {{ profile.city }}
            (Full-Time: {{ profile.is_full_time }}, Min Salary: {{ profile.min_salary }})
            <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="profile_id" value="{{ profile.id }}">
                <button type="submit" name="delete_profile">Delete</button>
            </form>
        </li>
        {% empty %}
        <p>No profiles available.</p>
        {% endfor %}
    </ul>
    
    -->
</div>

<div class="create-profile-container">
    <h2>Create a New Profile</h2>
    <form method="post" class="create-profile-form">
        {% csrf_token %}

        <div class="create-profile-fields-container">
            <label for="job_title">Job Title:</label>
            <input type="text" id="job_title" name="job_title" required>
        </div>

        <div class="create-profile-fields-container">
            <label for="min_salary">Minimum Salary:</label>
            <input type="number" id="min_salary" name="min_salary">
        </div>

        <div class="create-profile-fields-container">
            <label for="is_full_time">Full-Time:</label>
            <input type="checkbox" id="is_full_time" name="is_full_time">
        </div>

        <div class="create-profile-fields-container">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
        </div>

        <button type="submit" name="create_profile">Create Profile</button>
    </form>
</div>
{% endblock %}

