/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* wildcard selectoe to reset all browser default style rules */
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables to define accent colours */
:root {
    --primary: #10a37f;
    --secondary:yellow;
}

html {
    font-size: 100%;
    /* Sets the base font size to 16px */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Nunito";
}

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 4em;
    padding: 0 2em;
}

main {
    display: flex;
    flex-direction: column;
    padding: .25em 1em;
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {

    
}

.nav-left,
.nav-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.nav-left {
    gap: 1em;
    cursor: pointer;
}

.nav-right {
    gap: 3em;
}

.nav-logo {
    height: 3.5em;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    padding: .5em 1em;
    border-radius: 10px;
    background-color: #202020;

}

.nav-buttons-hover {

    background-color: var(--primary);

    transition: all;
    transition-duration: 0.3s;
}

.main-segments {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    width: 100%;
    

}

.hero-segment {
    background-color: black;
    height: 20em;
    align-items: center;
    justify-content: space-around;

}

.hero-segment h1{
    font-size: 5em;
    display: none;
}

.hero-segment p{
    display: none;
}

.info-segment {
    background-color: #101010;
    height: 40em;
    border-radius: 3px;
}

.register-container{

    display: flex;
    flex-direction: column;
    background-color: #202020;
    width:fit-content;
    align-items: center;
    padding: 1em 2em;
    gap: 2em;
    margin-top: -10em;
    border-radius: 2px;
}


.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

}

.text-fields-group-container{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.text-fields-container{

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 1em;
}

.form-errors p{
    color: red;
}

.form-errors li {
    color: white;
}



nav a {
    text-decoration: none;
    color: white;
}



label {
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"]{
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #0A0A0A;
    border-color: var(--secondary);
    border-width: 2px;
    outline: none;
}

input[type="submit"],
button {
    background-color: black;
    color: white;
    border: var(--primary) solid 2px;
    cursor: pointer;
    width: 10em;
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--primary);
}
