/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* wildcard selectoe to reset all browser default style rules */
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables to define accent colours */
:root {
    --primary: #10a37f;
    --secondary: yellow;
}

html {
    font-size: 100%;
    /* Sets the base font size to 16px */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Nunito";
}

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 4em;
    padding: 0 2em;
}

main {
    display: flex;
    flex-direction: column;
    padding: .25em 1em;
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {}

.nav-left,
.nav-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.nav-left {
    gap: 1em;
    cursor: pointer;
}

.nav-right {
    gap: 3em;
}

.nav-logo {
    height: 3.5em;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    padding: .5em 1em;
    border-radius: 10px;
    background-color: #202020;

}

.nav-buttons-hover {

    background-color: var(--primary);

    transition: all;
    transition-duration: 0.3s;
}

.main-segments {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    width: 100%;


}

.hero-segment {
    background-color: black;
    height: 20em;
    align-items: center;
    justify-content: space-around;

}

.hero-segment h1 {
    font-size: 5em;
    display: none;
}

.hero-title-highlight {
    color: var(--primary);

}

.hero-description-highlight {
    color: var(--secondary);
}

.hero-segment p {
    display: none;
}

.info-segment {
    background-color: #101010;
    height: 40em;
    border-radius: 3px;
}

.register-container,
.login-container {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    width: fit-content;
    align-items: center;
    padding: 1em 2em;
    gap: 2em;
    margin-top: -10em;
    border-radius: 2px;
}


.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

}

.text-fields-group-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.text-fields-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.form-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-errors p {
    color: red;
}

.form-errors li {
    color: white;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    background-color: #101010;
}

.dashboard-segment {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profiles-selection-container {

    max-width: 20em;
    justify-content: flex-start;
    padding: 1em 1.5em;
    gap: 1em;
    flex-direction: column;

}

.profile-container {
    display: flex;
    width: 100%;
    height: 4em;
    background-color: #101010;
    justify-content: center;
    align-items: center;

}

.profile-button {

    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: black;
}


.profile-button:hover{
    
    border-color: var(--secondary);

    transition:all;
    transition-duration: .3s;
}


.edit-delete-profile-container{

    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 3em;
    align-items: center;

}

.edit-profile-container,
.delete-profile-container{

    width: 5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    
}

.edit-profile-container{

    border-color: var(--secondary);
    
}


.delete-profile-container{
    border-color: red;
    
}

.edit-profile-container:hover{
    background-color: var(--secondary);
    color: black;
    transition: all;
    transition-duration: 0.3s;
}

.delete-profile-container:hover{
    background-color: red;
    transition: all;
    transition-duration: 0.3s;
}

.profile-add-container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    height: 2em;
}

.profile-add-container:hover {
    color: var(--secondary);
    cursor: pointer;

}

.dashboard-content-container {}



.create-profile,
.edit-profile {
    display: flex;
    flex-direction: column;
    background-color: #505050;
    padding: 1em 2em;
    gap: 1em;
    position: absolute;
    display: none;
    z-index: 11;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: .75em;
}


.profile-fields-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-profile-popup-container{

    display: flex;
    position: absolute;
    z-index: 11;
    flex-direction: column;
    width: 100%;
    max-width: 20em;
    height: 10em;
    background-color: #505050;
    display: none;
    justify-content: space-between;
    padding: 2em 2em;
    align-items: center;

}

.background-overlay{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .6;
    display: none;
}

.pop-up-options-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.exit-popup-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    border-radius: 5px;
    border: red solid 1px;
    cursor: pointer;
    background-color: black;
}

.exit-popup-container:hover{
    
    background-color: red;
    transition: all;
    transition-duration: .3s;
}


.dashboard-divider{

    height: 100%;
    width: 1px;
    background-color: black;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: white;
}



label {
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #0A0A0A;
    border-color: var(--secondary);
    border-width: 2px;
    outline: none;
}

input[type="submit"],
button {
    background-color: black;
    color: white;
    border: var(--primary) solid 2px;
    cursor: pointer;
    width: 10em;
}
